*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:hsl(0, 0%, 95%);
   color: hsl(0, 0%, 95%);
   font-family: 'Lexend Deca', sans-serif;
   line-height: 1.6;
   font-size: 12px;
  
}

.contenedor{
    padding: 120px 0px;
    height: fit-content;
    max-width: 920px;
    margin: auto;
    display: flex;
    justify-content: center;   
}


.cartas{
   
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 744px;
   
    min-width: 270px;

    border-radius: 6px;
}
.card{
    padding: 38px ;
   
}
img{
    width: 30%;
    padding-bottom: 10px;
}
.cart_1{
    background-color: hsl(31, 77%, 52%);
    color: hsl(31, 77%, 52%);;
}
.cart_2{
    background-color: hsl(184, 100%, 22%);
    color: hsl(184, 100%, 22%);
}
.cart_3{
    background-color: hsl(179, 100%, 13%);
    color : hsl(179, 100%, 13%);
}
p{
    color:hsla(0, 0%, 100%, 0.75);
    margin-bottom: 70px;
}
h1{
    color:hsla(0, 0%, 100%, 0.75);
    font-size: 30px;
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    padding-bottom: 20px;

}
.btn{
    border: solid hsl(0, 0%, 95%) 2px;
    width: fit-content;
    padding: 5px  ;
    color: currentColor;
    background-color: hsl(0, 0%, 95%);
    border-radius: 30px;
    text-align: center;
    padding: 10px 20px;
    transition: background-color 1s, color .5s;
}

.btn:hover{
    background-color:inherit;
    color: hsl(0, 0%, 95%);

}
